<%- include ('../partials/header')%>
<div id="allingment">
<div class="container">
    <div class="row">
        <div style="width:30%; margin:0 auto;">
        <h2>Add new campground</h2>
    <form action="/foods/<%= food._id%>/?_method=PUT" method="post" enctype="multipart/form-data">
         <div class="form-group">
        <input class="form-control" type="text" name="food[name]" value="<%=food.name%>">
        </div>
        <div class="form-group">
        <input class="form-control" type="number" name="food[price]" value="<%=food.price%>" min="0.01" step="0.01">
        </div>
         <div class="form-group">
      <select id="inputState" class="form-control" name="food[type]">
        <option selected><%=food.type%></option>
        <option>Non veg</option>
        <option>veg</option>
      </select>
    </div>
          <div class="form-group">
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
         <div class="form-group">
        <input class="form-control" type="text" name="food[description]" value="<%=food.description%>">
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">submit</button>
        </div>
           
        <p><a href="/foods">Go Back</a></p>
    </form> 
    </div>
    </div>
    
   
</div>
</div>


<%- include ('../partials/footer')%>